@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: #0ea5a4; /* teal-500 */
}

body {
  background-color: rgb(65, 61, 61);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
